*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
}

button{
  padding: 15px 30px;
  color: white;
  background-color: rgb(8, 60, 43);
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  
}